html, body {
	overflow: hidden;
}

body {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

canvas {
	/* Kill whitespace */
	display: block;
}

.s-Joystick {
	font-size: 24px;

	position: absolute;
	width: 10em;
	height: 10em;
	margin: 1.5em;

	border-radius: 50%;

	border: 2px solid green;
}

.s-Joystick:before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2em;
	height: 2em;
	margin: -1em 0 0 -1em;
	content: '';

	border-radius: 50%;

	border: 2px solid green;
	background: rgba(0, 200, 0, 0.25);
}

.s-Joystick--right {
	bottom: 0;
	right: 0;
}

.s-Joystick--left {
	bottom: 0;
	left: 0;
}

.s-FPS {
	opacity: 0.5 !important;
	position: absolute;
	top: 0;
}

.s-Loading {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: black;
}

.s-Progress {
	width: 100%;

	font-size: 16px;

	height: 0.25em;
}

.s-Progress-bar {
	width: 0%;
	height: 0.25rem;

	background: rgb(81, 176, 255);
}
